.w-2em7 {
    width: 2.7em;
}

.w-3em1 {
    width: 3.1em;
}

.w-100-vw {
    width: 100vw;
}

.w-100 {
    width: 100%;
}

.w-95 {
    width: 95%;
}

.w-95 {
    width: 95%;
}

.w-70 {
    width: 70%;
}
/* //////////////////////////////////////////////////////////// */


.h-15em {
    height: 15em;
}

.h-6em {
    height: 6em;
}

.h-4em {
    height: 3.5em;
}


.h-2em7 {
    height: 2.7em;
}

.h-3em {
    height: 3.07em;
}



/* //////////////////////////////////////////////////////////// */



.fz-2em {
    font-size: 1.8em;
}